<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="backport.android.bluetooth" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<!-- sample activities -->
		<activity android:name=".samples.MainActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".samples.DiscoveryActivity"
			android:theme="@style/Theme.Transparent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".samples.ClientSocketActivity"
			android:theme="@style/Theme.Transparent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".samples.ServerSocketActivity"
			android:theme="@style/Theme.Transparent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".samples.OBEXActivity"
			android:theme="@style/Theme.Transparent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>


		<!-- system activities -->
		
		<activity android:name="backport.android.bluetooth.RequestEnableActivity"
			android:theme="@style/Theme.Transparent">
			<intent-filter>
				<action android:name="android.bluetooth.adapter.action.REQUEST_ENABLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name="backport.android.bluetooth.RequestDiscoverableActivity"
			android:theme="@style/Theme.Transparent">
			<intent-filter>
				<action android:name="android.bluetooth.adapter.action.REQUEST_DISCOVERABLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<receiver android:name=".BluetoothIntentRedirector">
			<intent-filter>
				<action android:name="android.bluetooth.intent.action.DISCOVERY_COMPLETED" />
				<action android:name="android.bluetooth.intent.action.DISCOVERY_STARTED" />
				<action android:name="android.bluetooth.intent.action.NAME_CHANGED" />
				<action android:name="android.bluetooth.intent.action.SCAN_MODE_CHANGED" />
				<action android:name="android.bluetooth.intent.action.BLUETOOTH_STATE_CHANGED" />
				<action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_CONNECTED" />
				<action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_DISCONNECTED" />
				<action
					android:name="android.bluetooth.intent.action.REMOTE_DEVICE_DISCONNECT_REQUESTED" />
				<action android:name="android.bluetooth.intent.action.BOND_STATE_CHANGED" />
				<action android:name="android.bluetooth.intent.action.PAIRING_REQUEST" />
				<action android:name="android.bluetooth.intent.action.PAIRING_CANCEL" />
				<action
					android:name="android.bluetooth.intent.action.REMOTE_DEVICE_CLASS_UPDATED" />
				<action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_FOUND" />
				<action android:name="android.bluetooth.intent.action.REMOTE_NAME_UPDATED" />
				<!-- android.bluetooth.intent.action.PAIRING_REQUEST -->
				<!-- android.bluetooth.intent.action.PAIRING_CANCEL -->
				<!-- android.bluetooth.intent.action.REMOTE_DEVICE_DISAPPEARED -->
				<!-- android.bluetooth.intent.action.REMOTE_NAME_FAILED -->
			</intent-filter>
		</receiver>

	</application>
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>

</manifest> 